@using CMSCore.Data.Enums
@model CMSCore.Application.ViewModels.ProductCategoryViewModel
@{
    var isEdit = Model.IsEdit;
    var isView = Model.IsView;

    var title = isEdit ? "Sửa nhóm sản phẩm" : "Thêm nhóm sản phẩm";
    title = isView ? "Thông tin nhóm sản phẩm" : title;
}
<div class="modal-dialog  modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">@title</h4>
        </div>
        <div class="modal-body">
            <form action="/Admin/ProductCategory/SaveItem" method="post" id="frmSave" class="form-horizontal">
                @Html.ValidationSummary(true)
                <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Thông tin chung</h4>
                        </a>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.DateCreated)
                                @Html.HiddenFor(m => m.IsEdit)
                                @Html.HiddenFor(m => m.IsDelete)

                                <div class="form-group">
                                    @Html.LabelFor(m => m.ParentId, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        @{
                                            @Html.DropDownListFor(m => m.ParentId, Model.ListProductCate, new { @class = "form-control select-custom", @size = "1", onfocus = @"this.size=5;", onblur = "this.size=1;", onchange = "this.size=1; this.blur();" });
                                        }
                                        <label class="error" style="display: none;"></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Name, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Description, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Image, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.Image, new { @class = "form-control" })
                                            <input type="file" class="fileInputImage" style="display: none" />
                                            <span class="input-group-btn">
                                                <input type="button" class="btn btn-default btn-fixHeight btnSelectImg" value="Chọn ảnh" />
                                            </span>
                                        </div>

                                        @Html.ValidationMessageFor(m => m.Image, "", new { @class = "error" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4 class="panel-title">Cấu hình SEO</h4>
                        </a>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SeoPageTitle, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.SeoPageTitle, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.SeoPageTitle, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.SeoAlias, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.SeoAlias, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.SeoAlias, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.SeoKeywords, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.SeoKeywords, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.SeoKeywords, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.SeoDescription, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        @Html.TextAreaFor(m => m.SeoDescription, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.SeoDescription, "", new { @class = "error" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h4 class="panel-title">Trạng thái</h4>
                        </a>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="row form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="flat" id="Status" name="Status" checked="@(Model.Status == Status.Active)" />
                                                <span class="text">Kích hoạt</span>
                                            </label>

                                            <label>
                                                <input type="checkbox" class="flat" id="HomeFlag" name="HomeFlag" checked="@(Model?.HomeFlag ?? false)" />
                                                <span class="text">Trang chủ</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            @if (!isView)
            {
                <button type="button" class="btn btn-primary btn-save"><i class="fa fa-save fa-lg"></i> Cập nhật</button>
            }
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-sign-out fa-lg"></i> Quay lại</button>
        </div>
    </div>
</div>