@using CMSCore.Data.Enums
@model CMSCore.Application.ViewModels.AppUserViewModel
@{
    var isEdit = Model.IsEdit;
    var isView = Model.IsView;

    var title = isEdit ? "Sửa tài khoản" : "Thêm tài khoản";
    title = isView ? "Thông tin tài khoản" : title;
}
<div class="modal-dialog  modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">@title</h4>
        </div>
        <div class="modal-body">
            <form action="/Admin/User/SaveItem" method="post" id="frmSave" class="form-horizontal">
                @Html.ValidationSummary(true)
                <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Thông tin chung</h4>
                        </a>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.DateCreated)
                                @Html.HiddenFor(m => m.IsEdit)
                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserName, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "error" })
                                    </div>
                                </div>
                                @if (!isView && !isEdit)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error" })
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @Html.HiddenFor(m => m.Password)
                                }
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ListStringRoles, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        @*@Html.DropDownListFor(m => m.ListRoles,Model.ListAppRoleViewModels, new { @class = "form-control" })*@
                                        <select id="ListRoles" multiple="multiple" name="ListStringRoles" class = "form-control">
                                                @foreach (var item in Model.ListItemRoles)
                                                {
                                                    if (item.Selected)
                                                    {
                                                        <option selected value=@item.Value>@item.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value=@item.Value>@item.Text</option>
                                                    }
                                                }
                                        </select>
                                        @Html.ValidationMessageFor(m => m.ListStringRoles, "", new { @class = "error" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Status, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="flat" id="Status" name="Status" checked="@(Model.Status == Status.Active)" value="@Model.Status" />
                                                <span class="text">Kích hoạt</span>
                                            </label>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4 class="panel-title">Chi tiết tài khoản</h4>
                        </a>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FullName, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "error" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.BirthDay, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.BirthDay, new { @class = "form-control datepicker" })
                                        @Html.ValidationMessageFor(m => m.BirthDay, "", new { @class = "error" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "error" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Address, new { @class = "col-lg-3 col-md-3 col-sm-12 col-xs-12 required text-bold" })
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "error" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            @if (!isView)
            {
                <button type="button" class="btn btn-primary btn-save"><i class="fa fa-save fa-lg"></i> Cập nhật</button>
            }
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-sign-out fa-lg"></i> Quay lại</button>
        </div>
    </div>
</div>