@using CMSCore.Data.Enums
@using CMSCore.Utilities.Constants
@using CMSCore.Utilities.Extensions
@model IList<CMSCore.Application.ViewModels.BillViewModel>
<div class="table-header-action">
    <a href="javascript:void(0);" class="margin-right-20 btn-add-item" url-content="/Admin/Bill/Add"><i class="fa fa-plus fa-lg"></i> Thêm</a>
    <a href="javascript:void(0);" class="margin-right-20 btn-update-item" url-content="/Admin/Bill/Edit"><i class="fa fa-edit fa-lg"></i> Sửa</a>
    <a href="javascript:void(0);" class="margin-right-20 btn-remove-item" url-content="/Admin/Bill/Delete"><i class="fa fa-remove fa-lg"></i> Xóa</a>
    <a href="javascript:void(0);" class="margin-right-20 btn-export-item" url-content="/Admin/Bill/ExportExcel"><i class="fa fa-download fa-lg"></i> Xuất Excel</a>
    <input type="hidden" value="/Admin/Bill/ViewItem" id="url-view" />
</div>
<div class="table-responsive table-fixed">
    <table class="table table-striped table-bordered jambo_table bulk_action fixed_headers">
        <thead>
        <tr class="">
            <th class="column-title">Tên khách hàng</th>
            <th class="column-title">Hình thức thanh toán</th>
            <th class="column-title">Ngày đặt hàng</th>
            <th class="column-title">Trạng thái</th>
        </tr>
        </thead>

        <tbody>
        @{
            if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr class="" item-id="@item.Id">
                        <td class="column-40" title="@item.CustomerName">@item.CustomerName</td>
                        <td class="column-20" title="@item.PaymentMethod">@item.PaymentMethod</td>
                        <td class="column-20" title="@item.DateCreated.ToString(Constants.DateFormat)">@item.DateCreated.ToString(Constants.DateFormat)</td>
                        <td class="column-20" title="@item.BillStatus.GetDescription()">@item.BillStatus.GetDescription()</td>
                    </tr>
                }
            }
            else
            {
                {
                    <tr>
                        <td colspan="4">Không có dữ liệu</td>
                    </tr>
                }
            }
        }
        </tbody>
    </table>
</div>

<div class="clearfix"></div>