@model CMSCore.Application.ViewModels.ProductQuantityViewModel
<tr class="" guid="@Model.Guid">
    <td class="guid hidden">@Model.Guid</td>
    <td class="column-50" title="@Model.Size.Name">@Model.Size.Name</td>
    <td class="column-50" title="@Model.Color.Name">@Model.Color.Name</td>
    <td class="column-50" title="@Model.Quantity">@Model.Quantity</td>
</tr>