@model CMSCore.Application.ViewModels.ProductQuantityViewModel
<tr class="" item-id="@Model.ProductId">
    <td class="column-50" title="@Model.Product.Name">@Model.Product.Name</td>
    <td class="column-50" title="@Model.Color.Name">@Model.Color.Name</td>
    <td class="column-50" title="@Model.Size.Name">@Model.Size.Name</td>
    <td class="column-50" title="@Model.Quantity">@Model.Quantity</td>
</tr>