@using CMSCore.Data.Enums
@model CMSCore.Application.ViewModels.ProductViewModel
@{
    var isEdit = Model.IsEdit;
    var isView = Model.IsView;

    var title = isEdit ? "Sửa số lượng sản phẩm" : "Thêm số lượng sản phẩm";
    title = isView ? "Thông tin số lượng sản phẩm" : title;
}
<div class="modal-dialog  modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">@title</h4>
        </div>
        <div class="modal-body">
            <form action="/Admin/Product/SaveQuantity" method="post" id="frmSave" class="form-horizontal">
                @Html.ValidationSummary(true)
                <div class="accordion">
                    <div class="panel">
                        <a class="panel-heading">
                            <h4 class="panel-title">Quản lý số lượng</h4>
                        </a>
                        <div class="panel-collapse">
                            <div class="panel-body">
                                <div class="x_content">
                                    @Html.HiddenFor(m=>m.Id)
                                    <div class="table-header-action">
                                        @if (isView)
                                        {
                                            <a href="javascript:void(0);" class="margin-right-20 disabled"><i class="fa fa-plus fa-lg"></i> Thêm</a>
                                            <a href="javascript:void(0);" class="margin-right-20 disabled"><i class="fa fa-edit fa-lg"></i> Sửa</a>
                                            <a href="javascript:void(0);" class="margin-right-20 disabled"><i class="fa fa-remove fa-lg"></i> Xóa</a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0);" class="margin-right-20 btn-add-subitem" url-content="/Admin/Product/AddQuantity"><i class="fa fa-plus fa-lg"></i> Thêm</a>
                                            <a href="javascript:void(0);" class="margin-right-20 btn-update-subitem" url-content="/Admin/Product/EditQuantity"><i class="fa fa-edit fa-lg"></i> Sửa</a>
                                            <a href="javascript:void(0);" class="margin-right-20 btn-remove-subitem" url-content="/Admin/Product/ViewItemQuantity"><i class="fa fa-remove fa-lg"></i> Xóa</a>
                                        }

                                        <input type="hidden" value="/Admin/Product/ViewItemQuantity" id="sub-url-view"/>
                                    </div>
                                    <div class="table-responsive table-fixed">
                                        <table class="table table-striped table-bordered jambo_table bulk_action fixed_headers">
                                            <thead>
                                            <tr class="headings">
                                                <th class="column-title">Màu sắc</th>
                                                <th class="column-title">Size</th>
                                                <th class="column-title">Số lượng</th>
                                            </tr>
                                            </thead>

                                            <tbody id="tableMyModal">
                                            @{
                                                if (Model.ListProductQuantityVm != null && Model.ListProductQuantityVm.Count > 0)
                                                {
                                                    foreach (var item in Model.ListProductQuantityVm)
                                                    {
                                                        Html.RenderPartial("~/Areas/Admin/Views/Product/_TableQuantity.cshtml", item);
                                                    }
                                                }
                                                else
                                                {
                                                    {
                                                        <tr class="no-data">
                                                            <td colspan="4">Không có dữ liệu</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                    @Html.HiddenFor(m => m.JsonTableMyModal)
                                    @Html.ValidationMessageFor(m => m.JsonTableMyModal, "", new {@class = "error"})
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            @if (!isView)
            {
                <button type="button" class="btn btn-primary btn-save"><i class="fa fa-save fa-lg"></i> Cập nhật</button>
            }
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-sign-out fa-lg"></i> Quay lại</button>
        </div>
    </div>
</div>